/*==================================================================================================================
<body> form ======================================================================================================*/

.form_body{
	background-color: #fdd4ff;
}

/*==================================================================================================================
<footer> form and text ===========================================================================================*/

.form_footer{
	margin: 0 auto;
	box-sizing: content-box;

	font-size: 0.7em;
	color: black;
}

/*==================================================================================================================
<div> form =======================================================================================================*/

.form_container{
	text-align: center;
	width: 90%;
	max-width: 1500px;
	margin: 0 auto;
}

/*==================================================================================================================
<H1> form and tex ================================================================================================*/

.form_h1{
	font-family: 'Anton', sans-serif;
	font-size: 4em;
	font-weight: normal;
	font-stretch: normal;
	font-variant: small-caps;
	color: white;
	text-shadow: 2px 2px 0px #d457b2;
	text-align: center;

	background-color: #ff9ee5;
	margin: 0 auto;
	padding-bottom: 8px;
	box-shadow: 5px 5px 0px 0px #d457b2;
}

/*==================================================================================================================
<P> form and tex =================================================================================================*/

.form_p_0{
	/* Form */
	padding: 10px;
	margin: 16px 8px;
	box-sizing: content-box;
	background-color: #ff9ee5;
	display: inline-block;
	box-shadow: 5px 5px 0px 0px #d457b2;

	/* text style */
	text-align: center;
    font-family: 'Bebas Neue', cursive;
	font-size: 1.5em;
	line-height: 0.9em;
	font-weight: normal;
	font-stretch: normal;
	font-variant: small-caps;
	color: black;
}

.form_p_1{
	/* Form */
	padding: 15px;
	margin: 16px 8px;
	box-sizing: content-box;
	background-color: #ff9ee5;
	display: inline-block;
	box-shadow: 5px 5px 0px 0px #d457b2;

	/* text style */
	text-align: left;
    font-family: 'Bebas Neue', cursive;
	font-size: 1.5em;
	line-height: 1em;
	font-weight: normal;
	font-stretch: normal;
	font-variant: small-caps;
	color: black;
}

.form_p_2{
	/* Form */
	padding: 15px;
	margin: 16px 8px;
	box-sizing: content-box;
	background-color: #ff9ee5;
	display: inline-block;
	box-shadow: 5px 5px 0px 0px #d457b2;

	/* text style */
	text-align: center;
    font-family: 'Bebas Neue', cursive;
	font-size: 1.5em;
	line-height: 1.2em;
	font-weight: normal;
	font-stretch: normal;
	font-variant: small-caps;
	color: black;
}

/*==================================================================================================================
<B> form =========================================================================================================*/

.form_b_0{
	background-color: black;
	color: white;
}

/*==================================================================================================================
<img> form =======================================================================================================*/

.form_img{
	margin: 8px auto;
}
